/* Style for the search-box container */
oom-search {
  font-family: 'Open Sans', sans-serif;
  background: #ebebeb;
  padding: 5px;
  border-radius: 3px;
}

/* Styles for the input[type="search"] */
oom-search::part(input) {
  appearance: textfield;
  border: solid 4px red;
}
oom-search::part(input):focus {
  border-color: blue;
}

/* Styles for the list of items */
oom-search::part(items) {
  max-height: 200px;
  box-shadow: 0 0 10px #ccc;
  padding: 1em;
}

/* Style for the individual items */
oom-search::part(item) {
  background: blue;
}
oom-search::part(active) {
  background: red;
}